body {
  background-color: black;
  color: #00FF00;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-content {
  position: relative;
  padding: 2rem;
  width: 100%;
  max-width: 30rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.messages {
  overflow: auto;
}

.messages:after {
  content: '';
  display: table;
  clear: both;
}

.message {
  clear: both;
}

.my-message {
  float: right;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
}

.controls input {
  flex-grow: 1;
}
